* {
    box-sizing: border-box;
    margin: 0px;
    padding: 25px;
    color: white;
}

body {
    margin-top: 80px;
    background-image: url(http://i.cdn.cnn.com/cnn/.e/img/3.0/branding/backgrounds/on-the-road-indonesia/on-the-road-indonesia-background-full.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    background-image: url(transparent.jpg);
}

button {
    background-color: #9e9e9e;
    border-color: #9e9e9e;
    border-radius: 30px;
    border-style: none;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    text-shadow: none;
    width: 9.688rem;
    color: #000000;
}

#questionWrapper {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 5px;
    width: 62%;
    font-size: 30px;
    font-family: indie flower;
}

#introduction,
#finalResult {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 5px;
    width: 35%;
    text-align: center;
    font-size: 30px;
    font-family: indie flower;
}

.question {
    font-size: 30px;
    font-weight: bold;
}

.box {
    border: 3px solid black;
    border-radius: 3px;
    list-style: none;
    margin-bottom: 5px;
}

.button {
    margin-left: 41%;
    font-size: 20px;
    border-radius: 5px;
}

#result {
    font-size: 30px;
}
